.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column; /*con esto hago el punto 8*/
    border:solid 1px #000;
   
}


.caja{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px; /*con esto hago el punto 8*/
    
}

#caja1{
    background-color: red;
    

}

#caja2{
    background-color: rgb(96, 231, 96);
    
}

#caja3{
    background-color: rgb(11, 27, 117);
}
span{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;

}